<div [className]="SelectedTheme" style="height: 100%">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon color="primary" class="title-icon">{{ Icon }}</mat-icon>
      </div>
      <mat-card-title class="paragraph-title">{{ Title }}</mat-card-title>
      <mat-card-subtitle class="plain-text">{{ SubTitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center"
          class="primary-background parent-one padding-2">
          <div fxFlex="1 1 auto" class="margin-right-1" ngClass.lt-md="margin-bottom-1">
              <lcu-search-form></lcu-search-form>
          </div>
          <div fxFlex="1 1 85%" class="margin-right-1" ngClass.lt-md="margin-bottom-1" ngClass.sm="map-row-height">
              <lcu-route-map></lcu-route-map>
          </div>
        </div>
      </div>
      <div>
          <lcu-forecast-plots></lcu-forecast-plots>
          <!-- <lcu-departure-table></lcu-departure-table> -->
      </div>
    </mat-card-content>
  </mat-card>
  </div>
 

