// @import '../../../node_modules/@lcu/common/assets/styles/fathym-global.styles';
// @import '../../../node_modules/@lcu/common/assets/styles/branding/theme-colors/fathym-ivy-brand';
// @import '../../../node_modules/@lcu/common/assets/theming/fathym_themes';
@import '../../../node_modules/@lcu/common/assets/theming/common-theme';

/**
* Can select a predefined theme
*/
// $global-theme: fathym-ivy-theme(true);

/**
* Or, can call create-theme and pass in your own palatte colors
*/
$global-theme: create-theme($fathym-primary, $fathym-accent, $fathym-warn, true);
$primary: map-get($global-theme, primary);
$accent: map-get($global-theme, accent);
$warn: map-get($global-theme, warn);

$background: map-get(map-get($global-theme, 'background'), 'background');
$logo-color: map-get(map-get($global-theme, 'foreground'), 'icon');

@mixin primary-logo($logo, $theme, $opacity) {
  .primary-logo {
    background-image: fathym-logo($logo, $logo-color, $opacity);
    background-size: 40px;
  }
  
}

@include theme-setup($global-theme, false);
@include primary-logo(thinky-circle, $global-theme, 1);

body {
  background-color: $background;
}

// @import '../../../node_modules/nvd3/build/nv.d3.css';
.nvd3 .nv-background {
  fill-opacity: 1 !important;
}



/******************************************/
/********* NVD3 Line Chart Styles *********/
/******************************************/
.nvtooltip.xy-tooltip {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  tbody {
    .key {
      text-align: right;
      &:after {
        content: ':';
      }
    }
    .value {
      padding-left: 5px;
      // &:after {
      //   content: '\00b0'; // Adds degree symbol
      // }
    }
  }
}
.nv-legend {
  transform: translate(20px, 5px);
  .nv-series {
    cursor: pointer;
    .nv-legend-text {
      cursor: pointer;
      fill: black;
      font-size: 12px;
    }
  }
}

.nv-groups {
  .nv-group {
    fill-opacity: 0 !important;
    stroke-width: 2px !important;
  }
}
.tick text {
  font-size: 12px !important;
}
.nv-axisMaxMin {
  font-size: 12px !important;
  font-weight: bold;
}
