$color: (
    primary: 
    (
        50: #e9f2f1, 
        100: #c9dedd, 
        200: #a5c8c7, 
        300: #80b2b0, 
        400: #65a29f, 
        500: #4a918e, 
        600: #438986, 
        700: #3a7e7b, 
        800: #327471, 
        900: #22625f, 
        A100: #a4fffb, 
        A200: #71fff8, 
        A400: #3efff6, 
        A700: #25fff4, 
        contrast: 
        (
            50: rgba(40, 45, 53, 0.87), 
            100: rgba(40, 45, 53, 0.87), 
            200: rgba(40, 45, 53, 0.87), 
            300: rgba(40, 45, 53, 0.87), 
            400: rgba(40, 45, 53, 0.87), 
            500: #f1f4f6, 
            600: #f1f4f6, 
            700: #f1f4f6, 
            800: #f1f4f6, 
            900: #f1f4f6, 
            A100: rgba(40, 45, 53, 0.87), 
            A200: rgba(40, 45, 53, 0.87), 
            A400: rgba(40, 45, 53, 0.87), 
            A700: rgba(40, 45, 53, 0.87)
        ), 
        default: #4a918e, 
        lighter: #c9dedd, 
        darker: #3a7e7b, 
        text: #4a918e, 
        default-contrast: #f1f4f6, 
        lighter-contrast: rgba(40, 45, 53, 0.87), 
        darker-contrast: #f1f4f6, 
        "50-contrast": rgba(40, 45, 53, 0.87), 
        "100-contrast": rgba(40, 45, 53, 0.87), 
        "200-contrast": rgba(40, 45, 53, 0.87), 
        "300-contrast": rgba(40, 45, 53, 0.87), 
        "400-contrast": rgba(40, 45, 53, 0.87), 
        "500-contrast": #f1f4f6, 
        "600-contrast": #f1f4f6, 
        "700-contrast": #f1f4f6, 
        "800-contrast": #f1f4f6, 
        "900-contrast": #f1f4f6, 
        "A100-contrast": rgba(40, 45, 53, 0.87), 
        "A200-contrast": rgba(40, 45, 53, 0.87), 
        "A400-contrast": rgba(40, 45, 53, 0.87), 
        "A700-contrast": rgba(40, 45, 53, 0.87), 
        "contrast-contrast": null
    ), 
    accent: 
    (
        50: #f3fafa, 
        100: #e1f3f3, 
        200: #ceeceb, 
        300: #bae4e3, 
        400: #abdedd, 
        500: #9cd8d7, 
        600: #94d4d3, 
        700: #8acecd, 
        800: #80c8c7, 
        900: #6ebfbe, 
        A100: #ffffff, 
        A200: #ffffff, 
        A400: #d2fffe,
        A700: #b8fffe, 
        contrast: 
        (
            50: rgba(40, 45, 53, 0.87), 
            100: rgba(40, 45, 53, 0.87), 
            200: rgba(40, 45, 53, 0.87), 
            300: rgba(40, 45, 53, 0.87), 
            400: rgba(40, 45, 53, 0.87), 
            500: rgba(40, 45, 53, 0.87), 
            600: rgba(40, 45, 53, 0.87), 
            700: #f1f4f6, 800: #f1f4f6, 
            900: #f1f4f6, A100: rgba(40, 45, 53, 0.87), 
            A200: rgba(40, 45, 53, 0.87), 
            A400: rgba(40, 45, 53, 0.87), 
            A700: rgba(40, 45, 53, 0.87)
        ), 
        default: #9cd8d7, 
        lighter: #e1f3f3, 
        darker: #8acecd, 
        text: #9cd8d7, 
        default-contrast: rgba(40, 45, 53, 0.87), 
        lighter-contrast: rgba(40, 45, 53, 0.87), 
        darker-contrast: #f1f4f6, 
        "50-contrast": rgba(40, 45, 53, 0.87), 
        "100-contrast": rgba(40, 45, 53, 0.87), 
        "200-contrast": rgba(40, 45, 53, 0.87), 
        "300-contrast": rgba(40, 45, 53, 0.87), 
        "400-contrast": rgba(40, 45, 53, 0.87), 
        "500-contrast": rgba(40, 45, 53, 0.87), 
        "600-contrast": rgba(40, 45, 53, 0.87), 
        "700-contrast": #f1f4f6, 
        "800-contrast": #f1f4f6, 
        "900-contrast": #f1f4f6, 
        "A100-contrast": rgba(40, 45, 53, 0.87), 
        "A200-contrast": rgba(40, 45, 53, 0.87), 
        "A400-contrast": rgba(40, 45, 53, 0.87), 
        "A700-contrast": rgba(40, 45, 53, 0.87), 
        "contrast-contrast": null
        ), 
        warn: 
        (
            50: #fde8ea, 
            100: #fac7cb, 
            200: #f7a1a8, 
            300: #f47b85, 
            400: #f15f6b, 
            500: #ef4351, 
            600: #ed3d4a, 
            700: #eb3440, 
            800: #e82c37, 
            900: #e41e27, 
            A100: #ffffff, 
            A200: #ffe6e7, 
            A400: #ffb3b6, 
            A700: #ff9a9e, 
            contrast: 
            (
                50: rgba(40, 45, 53, 0.87), 
                100: rgba(40, 45, 53, 0.87), 
                200: rgba(40, 45, 53, 0.87), 
                300: rgba(40, 45, 53, 0.87), 
                400: rgba(40, 45, 53, 0.87), 
                500: #f1f4f6, 600: #f1f4f6, 
                700: #f1f4f6, 800: #f1f4f6, 
                900: #f1f4f6, 
                A100: rgba(40, 45, 53, 0.87), 
                A200: rgba(40, 45, 53, 0.87), 
                A400: rgba(40, 45, 53, 0.87), 
                A700: rgba(40, 45, 53, 0.87)
            ), 
            default: #ef4351, 
            lighter: #fac7cb, 
            darker: #eb3440, 
            text: #ef4351, 
            default-contrast: #f1f4f6, 
            lighter-contrast: rgba(40, 45, 53, 0.87), 
            darker-contrast: #f1f4f6, 
            "50-contrast": rgba(40, 45, 53, 0.87), 
            "100-contrast": rgba(40, 45, 53, 0.87), 
            "200-contrast": rgba(40, 45, 53, 0.87), 
            "300-contrast": rgba(40, 45, 53, 0.87), 
            "400-contrast": rgba(40, 45, 53, 0.87), 
            "500-contrast": #f1f4f6, 
            "600-contrast": #f1f4f6, 
            "700-contrast": #f1f4f6, 
            "800-contrast": #f1f4f6, 
            "900-contrast": #f1f4f6, 
            "A100-contrast": rgba(40, 45, 53, 0.87), 
            "A200-contrast": rgba(40, 45, 53, 0.87), 
            "A400-contrast": rgba(40, 45, 53, 0.87), 
            "A700-contrast": rgba(40, 45, 53, 0.87), 
            "contrast-contrast": null
            ), 
            is-dark: true, 
                foreground: 
                (
                    base: white, 
                    divider: rgba(255, 255, 255, 0.12), 
                    dividers: rgba(255, 255, 255, 0.12), 
                    disabled: rgba(255, 255, 255, 0.5), 
                    disabled-button: rgba(255, 255, 255, 0.3), 
                    disabled-text: rgba(255, 255, 255, 0.5), 
                    elevation: black, 
                    hint-text: rgba(255, 255, 255, 0.5), 
                    secondary-text: rgba(255, 255, 255, 0.7), 
                    icon: white, 
                    icons: white, 
                    text: white, 
                    slider-min: white, 
                    slider-off: rgba(255, 255, 255, 0.3), 
                    slider-off-active: rgba(255, 255, 255, 0.3)), 
                background: 
                (
                    status-bar: black, 
                    app-bar: #212121, 
                    background: #303030, 
                    hover: rgba(255, 255, 255, 0.04), 
                    card: #424242, 
                    dialog: #424242, 
                    disabled-button: rgba(255, 255, 255, 0.12), 
                    raised-button: #424242, 
                    focused-button: rgba(255, 255, 255, 0.12), 
                    selected-button: #212121, 
                    selected-disabled-button: #424242, 
                    disabled-button-toggle: black, 
                    unselected-chip: #616161, 
                    disabled-list-option: black, 
                    tooltip: #616161
                )
            // ),
                    primary: 
                    (
                        50: #e9f2f1, 
                        100: #c9dedd, 
                        200: #a5c8c7, 
                        300: #80b2b0, 
                        400: #65a29f, 
                        500: #4a918e, 
                        600: #438986, 
                        700: #3a7e7b, 
                        800: #327471, 
                        900: #22625f, 
                        A100: #a4fffb, 
                        A200: #71fff8, 
                        A400: #3efff6, 
                        A700: #25fff4, 
                        contrast: 
                        (
                            50: rgba(40, 45, 53, 0.87), 
                            100: rgba(40, 45, 53, 0.87),
                            200: rgba(40, 45, 53, 0.87), 
                            300: rgba(40, 45, 53, 0.87), 
                            400: rgba(40, 45, 53, 0.87), 
                            500: #f1f4f6, 
                            600: #f1f4f6, 
                            700: #f1f4f6, 
                            800: #f1f4f6, 
                            900: #f1f4f6, 
                            A100: rgba(40, 45, 53, 0.87), 
                            A200: rgba(40, 45, 53, 0.87), 
                            A400: rgba(40, 45, 53, 0.87), 
                            A700: rgba(40, 45, 53, 0.87)
                        ), 
                        default: #4a918e, 
                        lighter: #c9dedd, 
                        darker: #3a7e7b, 
                        text: #4a918e, 
                        default-contrast: #f1f4f6, 
                        lighter-contrast: rgba(40, 45, 53, 0.87), 
                        darker-contrast: #f1f4f6, 
                        "50-contrast": rgba(40, 45, 53, 0.87), 
                        "100-contrast": rgba(40, 45, 53, 0.87), 
                        "200-contrast": rgba(40, 45, 53, 0.87), 
                        "300-contrast": rgba(40, 45, 53, 0.87), 
                        "400-contrast": rgba(40, 45, 53, 0.87), 
                        "500-contrast": #f1f4f6, 
                        "600-contrast": #f1f4f6, 
                        "700-contrast": #f1f4f6, 
                        "800-contrast": #f1f4f6, 
                        "900-contrast": #f1f4f6, 
                        "A100-contrast": rgba(40, 45, 53, 0.87), 
                        "A200-contrast": rgba(40, 45, 53, 0.87), 
                        "A400-contrast": rgba(40, 45, 53, 0.87), 
                        "A700-contrast": rgba(40, 45, 53, 0.87), 
                        "contrast-contrast": null), 
                        accent: 
                        (
                            50: #f3fafa, 
                            100: #e1f3f3, 
                            200: #ceeceb, 
                            300: #bae4e3, 
                            400: #abdedd, 
                            500: #9cd8d7, 
                            600: #94d4d3, 
                            700: #8acecd, 
                            800: #80c8c7, 
                            900: #6ebfbe, 
                            A100: #ffffff, 
                            A200: #ffffff, 
                            A400: #d2fffe, 
                            A700: #b8fffe, 
                            contrast: 
                            (
                                50: rgba(40, 45, 53, 0.87), 
                                100: rgba(40, 45, 53, 0.87), 
                                200: rgba(40, 45, 53, 0.87), 
                                300: rgba(40, 45, 53, 0.87), 
                                400: rgba(40, 45, 53, 0.87), 
                                500: rgba(40, 45, 53, 0.87), 
                                600: rgba(40, 45, 53, 0.87), 
                                700: #f1f4f6,
                                800: #f1f4f6, 
                                900: #f1f4f6,
                                 A100: rgba(40, 45, 53, 0.87), 
                                 A200: rgba(40, 45, 53, 0.87), 
                                 A400: rgba(40, 45, 53, 0.87), 
                                 A700: rgba(40, 45, 53, 0.87)), 
                                 default: #9cd8d7, 
                                 lighter: #e1f3f3, 
                                 darker: #8acecd, 
                                 text: #9cd8d7, 
                                 default-contrast: rgba(40, 45, 53, 0.87), 
                                 lighter-contrast: rgba(40, 45, 53, 0.87), 
                                 darker-contrast: #f1f4f6, 
                                 "50-contrast": rgba(40, 45, 53, 0.87), 
                                 "100-contrast": rgba(40, 45, 53, 0.87), 
                                 "200-contrast": rgba(40, 45, 53, 0.87), 
                                 "300-contrast": rgba(40, 45, 53, 0.87), 
                                 "400-contrast": rgba(40, 45, 53, 0.87), 
                                 "500-contrast": rgba(40, 45, 53, 0.87), 
                                 "600-contrast": rgba(40, 45, 53, 0.87), 
                                 "700-contrast": #f1f4f6, 
                                 "800-contrast": #f1f4f6, 
                                 "900-contrast": #f1f4f6, 
                                 "A100-contrast": rgba(40, 45, 53, 0.87), 
                                 "A200-contrast": rgba(40, 45, 53, 0.87), 
                                 "A400-contrast": rgba(40, 45, 53, 0.87), 
                                 "A700-contrast": rgba(40, 45, 53, 0.87), 
                                 "contrast-contrast": null
                                 ), 
                                 warn: 
                                 (
                                     50: #fde8ea, 
                                     100: #fac7cb,
                                      200: #f7a1a8, 
                                      300: #f47b85, 
                                      400: #f15f6b, 
                                      500: #ef4351, 
                                      600: #ed3d4a, 
                                      700: #eb3440, 
                                      800: #e82c37, 
                                      900: #e41e27, 
                                      A100: #ffffff, 
                                      A200: #ffe6e7, 
                                      A400: #ffb3b6, 
                                      A700: #ff9a9e, 
                                      contrast: 
                                      (
                                          50: rgba(40, 45, 53, 0.87), 
                                          100: rgba(40, 45, 53, 0.87), 
                                          200: rgba(40, 45, 53, 0.87), 
                                          300: rgba(40, 45, 53, 0.87), 
                                          400: rgba(40, 45, 53, 0.87), 
                                          500: #f1f4f6, 
                                          600: #f1f4f6, 
                                          700: #f1f4f6, 
                                          800: #f1f4f6, 
                                          900: #f1f4f6, 
                                          A100: rgba(40, 45, 53, 0.87), 
                                          A200: rgba(40, 45, 53, 0.87), 
                                          A400: rgba(40, 45, 53, 0.87), 
                                          A700: rgba(40, 45, 53, 0.87)
                                        ), 
                                            default: #ef4351, l
                                            ighter: #fac7cb, 
                                            darker: #eb3440, 
                                            text: #ef4351, 
                                            default-contrast: #f1f4f6, 
                                            lighter-contrast: rgba(40, 45, 53, 0.87), 
                                            darker-contrast: #f1f4f6, 
                                            "50-contrast": rgba(40, 45, 53, 0.87), 
                                            "100-contrast": rgba(40, 45, 53, 0.87), 
                                            "200-contrast": rgba(40, 45, 53, 0.87), 
                                            "300-contrast": rgba(40, 45, 53, 0.87), 
                                            "400-contrast": rgba(40, 45, 53, 0.87), 
                                            "500-contrast": #f1f4f6, 
                                            "600-contrast": #f1f4f6, 
                                            "700-contrast": #f1f4f6, 
                                            "800-contrast": #f1f4f6, 
                                            "900-contrast": #f1f4f6, 
                                            "A100-contrast": rgba(40, 45, 53, 0.87), 
                                            "A200-contrast": rgba(40, 45, 53, 0.87),
                                            "A400-contrast": rgba(40, 45, 53, 0.87), 
                                            "A700-contrast": rgba(40, 45, 53, 0.87), 
                                            "contrast-contrast": null
                                          ), 
                                          is-dark: true, 
                                          foreground: 
                                          (
                                              base: white, 
                                              divider: rgba(255, 255, 255, 0.12), 
                                              dividers: rgba(255, 255, 255, 0.12), 
                                              disabled: rgba(255, 255, 255, 0.5), 
                                              disabled-button: rgba(255, 255, 255, 0.3), 
                                              disabled-text: rgba(255, 255, 255, 0.5), 
                                              elevation: black, 
                                              hint-text: rgba(255, 255, 255, 0.5), 
                                              secondary-text: rgba(255, 255, 255, 0.7), 
                                              icon: white, 
                                              icons: white, 
                                              text: white, 
                                              slider-min: white, 
                                              slider-off: rgba(255, 255, 255, 0.3), 
                                              slider-off-active: rgba(255, 255, 255, 0.3)
                                            ),
                                               background: 
                                               (
                                                   status-bar: black, 
                                                   app-bar: #212121, 
                                                   background: #303030, 
                                                   hover: rgba(255, 255, 255, 0.04), 
                                                   card: #424242, 
                                                   dialog: #424242, 
                                                   disabled-button: rgba(255, 255, 255, 0.12), 
                                                   raised-button: #424242, 
                                                   focused-button: rgba(255, 255, 255, 0.12), 
                                                   selected-button: #212121, 
                                                   selected-disabled-button: #424242, 
                                                   disabled-button-toggle: black, 
                                                   unselected-chip: #616161, 
                                                   disabled-list-option: black, 
                                                   tooltip: #616161
                                                )
)